@use 'base/' as *;
@use 'utils/' as *;
@use 'layouts/' as *;
@use 'components/' as *;

.wrapper {
    width: calc(100vw - 54px * 2);
    margin: auto;
}

main {
    width: calc(100% - (165px - 54px) * 2);
    margin: auto;
}

.offer-services {
    margin: auto {
        top: 200px;
    };

    h2 {
        max-width: 346px;
    }
}

.flow {
    display: flex;
    gap: 30px;
    margin-top: 42px;
    
}

.card {
    padding: 46px 34px;

    h3 {
        font-weight: $fw-700;
    }

    p {
        margin: {
            top: 24px;
            bottom: 30px;
        };
    }
}

button {
    border-radius: 12px;
    padding: 10px 18px;
    border: none;
    background-color: $clr-white-gray;
    color: $clr-gray;
    font-size: $fs-16;
    cursor: pointer;
}

.card__icon {
    width: 67px;
    height: 67px;
    border-radius: 16px;
    display: grid;
    place-items: center;

    i {
        color: $clr-white;
    }
}

.card__icon--bg-bleu{
   background-color: $clr-blue; 
}

.card__icon--bg-green{
    background-color: $clr-green;
}

.card__icon--bg-red{
    background-color: $clr-red;
}

.card--bg {
    background-color: $clr-white;
    border-radius: 24px;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.btn--bg {
    background-color: $clr-blue;
    color: $clr-white;
}

.design {
    margin-top: 249px;

    h2 {
        max-width: 448px;
    }
}

.design-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 800px);
    column-gap: 20px;

    img {
        border-radius: 24px;
    }
    div:nth-child(odd){
        align-self: end;
    }
    div:nth-child(4){
        display: flex;
        flex-direction: column;

        a {
            font-size: $fs-24;
            font-weight: $fw-500;
            color: $clr-blue;
            margin-top: 100px;
            align-self: end;
        
            i {
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }
}

.design__type {
    font-size: $fs-14;
    font-weight: $fw-300;
    color: $clr-gray;
}

.design__name {
    font-size: $fs-24;
    font-weight: $fw-500;
    color: $clr-black;
    margin-top: 0;
}
