$clr-white:#FFFFFF;
$clr-whitish:#F2F2F2;
$clr-white-gray:#E0E0E0;
$clr-black:#333333;
$clr-grayish:#BDBDBD;
$clr-gray:#828282;
$clr-blue:#2D9CDB;
$clr-red:#EB5757;
$clr-green:#27AE60;
$clr-dark-blue:#100E1D;