@use '../utils/variables'as var;

.design {
    margin-top: 194px;

    .block {
        width: 100%;
    }
    
    h2 {
        max-width: 448px;
    }
}

.design__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 800px);
    column-gap: 20px;
    
    img {
        border-radius: 24px;
    }
    div:nth-child(odd){
        align-self: end;
    }
}

.design__type {
    font-size: var.$fs-14;
    font-weight: var.$fw-300;
    color: var.$clr-gray;
}

.design__name {
    font-size: var.$fs-24;
    font-weight: var.$fw-500;
    color: var.$clr-black;
    margin-block: 0;
}

.design__link {
    text-align: right;
    a {
        font-size: var.$fs-24;
        font-weight: var.$fw-500;
        color: var.$clr-blue;

        i {
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-laptop}) {
    
    .design {
        margin-top: 100px;

        .block {
            width: 78vw;
        }
        
        h2 {
            max-width: 267px;
            font-size: var.$fs-24;
        }
    }
    
    .design__grid {
        display: grid;
        grid-template: 1fr / 1fr;
        justify-items: center;
        row-gap: 36px;
        margin-top: 48px;
    }

    .design__type {
        font-size: var.$fs-12;
    }
    
    .design__name {
        font-size: var.$fs-18;
    }
    
    .design__link {
        text-align: right;
        margin-top: 35px;
        a {
            font-size: var.$fs-18;
        }
    }
}