@use '../utils/mixins' as m;
@use '../utils/variables' as var;

footer {
    background-color: var.$clr-dark-blue;
    color: var.$clr-whitish;
    margin-top: 233px;
    padding-block: 46px 24px;

    &>div {
        display: flex;
        justify-content: space-between;
        align-items: start;
        @include m.block-center(165px, 0px);
    }

    a {
        font-size: var.$fs-18;
        color: var.$clr-white;
    }

    .email {
        margin-top: 0;
    }

    &>p {
        margin-block: 118px 0;
        text-align: center;

        a {
            font-weight: var.$fw-700;
        }
    }
}

.bottom-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social {
    p {
        margin: 0;
    }
}

.social__icon {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-laptop}) {
    
    footer {
        margin-top: 103px;
    
        &>div {
            display: block;
            @include m.block-center(41px, 0px);
        }

        .social {
            p {
                margin-top: 64px;
            }
        }
    
        .email {
            margin-top: 65px;
        }
    
        &>p {
            margin-top: 154px;
        }
    }
}