@use '../utils/mixins' as m;
@use '../utils/variables' as var;

footer {
    background-color: var.$clr-dark-blue;
    color: var.$clr-whitish;
    margin-top: 233px;
    padding-block: 46px 24px;    
}

.footer__flow {
    display: flex;
    justify-content: space-between;
    align-items: start;

    &~p {
        margin-block: 118px 0;
        text-align: center;

        a {
            font-weight: var.$fw-700;
            color: inherit;
        }
    }
    .email {
        &>p {
            margin-top: 0;
        }
    }
}

.bottom-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        font-size: var.$fs-18;
        color: var.$clr-white;
    }
}

.social {
    p {
        margin: 0;
    }
}

.social__icon {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-tablet}) {
    
    footer {
        margin-top: 100px;
        padding-block: 36px 24px;   
        
        .container {
            width: 50vw;
            margin: auto;
        }
    }
    
    .footer__flow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 65px;
    
        &~p {
            margin-block: 152px 0;
            font-size: var.$fs-14;
        }
    }
}