@use '../utils/variables' as var;
@use '../utils/helpers' as *;

.heading {
    max-width: 543px;

    p {
        font-weight: var.$fw-500;
        color: var.$clr-blue;
    }

    h1 {
        margin-top: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.hero {
    border-radius: 18px;
}

.heading-str {
    max-width: 366px;
}

.str--text {
    font-size: var.$fs-14;
    font-weight: var.$fw-500;
    color: var.$clr-gray;
    margin: {
        top: 42px;
        bottom: 9px;
    }
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-tablet}) {

    header {
        h1 {
            font-size: var.$fs-18;
        }
    }
    
    .heading {
        max-width: 200px;
        
        p {
            font-size: var.$fs-12;
            margin-bottom: 0; 
        }
    }
    
    .heading-str {
        max-width: 275px;

        h1 {
            max-width: 150px;
        }

        p {
            font-size: var.$fs-12;
        }
    }
    .str--text {
        font-size: var.$fs-10;
        margin: {
            top: 31px; 
            bottom: 5px;
        }
    }
}