@use '../utils/variables' as var;
@use '../utils/helpers' as *;

.services {
    margin: auto {
        top: 200px;
    };

    h2 {
        max-width: 346px;
    }

    .block {
        width: 100%;
    }
}

.flow {
    display: flex;
    gap: 40px;
    margin-top: 42px;   
}

.icon--bg-bleu{
   background-color: var.$clr-blue; 
}

.icon--bg-green{
    background-color: var.$clr-green;
}

.icon--bg-red{
    background-color: var.$clr-red;
}

.btn--bg {
    background-color: var.$clr-blue;
    color: var.$clr-white;
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-laptop}) {
    
    .services {
        margin: auto {
            top: 102px;
        };
    
        h2 {
            max-width: 259px;
            font-size: var.$fs-24;
        }
        .block {
            width: 78vw;
        }
    }
    
    .flow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
        margin-top: 46px;   
    }
}