@use '../utils/variables' as var;
@use '../utils/helpers' as *;

.services {
    margin: auto {
        top: 200px;
    };

    h2 {
        max-width: 346px;
    }
}

.services__flow {
    display: flex;
    gap: 30px;
    margin-top: 42px;   
}

.card {
    padding: 46px 34px;

    h3 {
        font-weight: var.$fw-700;
    }

    p {
        margin: {
            top: 24px;
            bottom: 30px;
        };
    }
}

button {
    @extend %btn;
    background-color: var.$clr-white-gray;
    color: var.$clr-gray;
}

.icon--bg-bleu{
   background-color: var.$clr-blue; 
}

.icon--bg-green{
    background-color: var.$clr-green;
}

.icon--bg-red{
    background-color: var.$clr-red;
}

.card--bg {
    background-color: var.$clr-white;
    border-radius: 24px;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.btn--bg {
    background-color: var.$clr-blue;
    color: var.$clr-white;
}

@media only screen and (min-width: #{var.$bp-mobile}) and (max-width: #{var.$bp-laptop}) {
    
    .services {
        margin-top: 102px;

        h2 {
            max-width: 259px;
            font-size: var.$fs-24;
        }
    }

    .services__flow {
        flex-direction: column;
        gap: 62px;
        margin-top: 46px;   
    }

    .card {
        padding: 46px 34px;

        h3 {
            font-weight: var.$fw-700;
        }

        p {
            margin: {
                top: 24px;
                bottom: 30px;
            };
        }
    }
}